# SITE CONFIGURATION
title: Ret2Pwn # your site title
author: Hazem Hisham # You :P
description: Binary Exploitation Player | Wannabe Red Team Operator

baseurl: "" # the subpath of your site, e.g. /blog
url: "https://xret2pwn.github.io/" # the base hostname & protocol for your site, e.g. http://example.com

# SEO PLUGIN
social:
  name: Ret2pwn
  links:
    - https://twitter.com/RET2_pwn
    - https://github.com/xRET2pwn
    - https://www.linkedin.com/in/hazem-hesham/
# THEME SETTINGS
navigation: # Navigation links
  - {name: 'Home', link: '/'}
  - {name: 'Categories', link: '/categories'}
  - {name: 'About', link: '/about'}
  - {name: 'Contact', link: '/contact'}


tagline: >

hero_img: posts/Background.jfif # Main background image: use the path from /assets/img/ => This will output /assets/img/posts/sleek_lg.jpg

#email:  # email for form submission

twitter_username: Ret2Pwn # replace with your_twitter_username or comment to remove link from footer
github_username:  xRet2Pwn # replace with your_github_username or comment to remove link from footer
linkedin_username: hazemhesham
#instagram_username: # replace with your_instagram_username or comment to remove link from footer

disqus:
  shortname: janczizikow # to enable comments replace with your_disqus_shortname

# google_tag_manager: GTM-XXXXXXX # Uncomment to enable GTM. Replace GTM-XXXXXXX with your GTM container ID

service_worker: true

# BUILD SETTINGS
markdown: kramdown
highlighter: rouge # or pygments or null
# theme: jekyll-sleek # Uncomment if you're using the theme as a ruby gem
exclude:
  - README.md
  - node_modules
  - script
  - package.json
  - package-lock.json
  - Gemfile
  - Gemfile.lock
  - vendor
  - npm-debug.log
  - gulpfile.js
  - sleek.jpg

include: ['_pages']
permalink: /:title/

compress_html:
  clippings: all

plugins:
  - jekyll-sitemap
  - jekyll-seo-tag
